//-
  options.classes - Классы блока.
  options.id - ИД блока.
  options.text - Текст радиокнопки.
  options.name - Название input (атрибут name).
  options.value - Значение input чекбокса (атрибут value).
  options.checked - Выбрана ли кнопка или нет (атрибут checked).

mixin radio(options = {})
  -
    const {
      classes = '',
      id = false,
      text = false,
      name = '',
      value = false,
      checked = false,
    } = options;

  div.radio(
    class = classes, 
    id = id ? id : false
  )
    label.radio__wrapper
      input.radio__input(
        type = "radio", 
        name = name, 
        checked = checked ? "checked" : false,
        value = value ? value : false,
      )

      span.radio__view
      if text
        span.radio__text #{text}